body {
    background-color:#282a36;
}
.heading {
    color:azure;
    font-family: Monaco, monospace;
    text-align: center;
}

.board {
    display: grid;
    background-color: #31396b;
    border: 2px solid;
    width: 500px;
    height: 500px;
    margin: 20px auto;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    font-size: 48px;
    position: relative;
  }